/* APPLIES TO ALL */

* {
    font-family: VictorMono Nerd Font Mono, monospace;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}

/* WINDOW */

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* MODULES */
/* GENERAL */

#clock,
#battery,
#custom-network,
#custom-memory,
#backlight,
#network,
#workspaces,
#idle_inhibitor,
#pulseaudio,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    background-color: #000000;
}

/* WORKSPACES */

#workspaces { padding: 0 1px; }

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

#workspaces button:hover {
    background-color: #f91124;
    color: #fff;
}

#workspaces button.focused {
    color: #000;
    background: #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* BATTERY */

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #089141;
    border: 1px solid black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

/* PULSEAUDIO */

#pulseaudio {
    background-color: #ffffff;
    color: #2a5c45;
    border: 3px solid black;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
    border: 2px solid black;
}

/* IDLE INHIBITOR */

#idle_inhibitor {
    background-color: #000;
}
#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
